<nav class="nav-top navbar-fixed-top">
    <div class="container">
        <ul class="nav">
            <li><a href="/about/">ABOUT</a></li>
            <li><a href="/">HOME</a></li>
            <li><a href="/projects/">PROJECTS</a></li>
        </ul>
    </div>
</nav>