{{!< default}}

<main class="project-content" role="main">
	<div class="center">
		<div class="timeline">
			<div class="spine"></div>
			<article class="ep-one-half">
				<span class="arrow"></span>
				<header>
					<a href="#" class="thumb">
						<p>
							<img src="" alt="main-image" />
						</p>
					</a>
					<time>
						Mar
						<span class="month">07</span>
					</time>
					<h2 class="post-title">
						<a href="#" class="thumb">Workday POC</a>
					</h2>
				</header>
				<section class="post-excerpt">
					<p>
						 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed convallis orci. Duis libero orci, pretium a, convallis quis, pellentesque a, dolor. Curabitur vitae nisi non dolor vestibulum consequat. Custom Gallery      Proin vestibulum. Ut ligula. Nullam sed dolor id odio volutpat…
					</p>
				</section>
			</article>


			<article class="ep-one-half ep-last">
				<span class="arrow"></span>
				<header>
					<a href="#" class="thumb">
						<p>
							<img src="" alt="main-image" />
						</p>
					</a>
					<time>
						2014
						<span class="month">Jul</span>
					</time>
					<h2 class="post-title">
						<a href="#" class="thumb">Workday POC</a>
					</h2>
				</header>
				<section class="post-excerpt">
					<p>
						 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed convallis orci. Duis libero orci, pretium a, convallis quis, pellentesque a, dolor. Curabitur vitae nisi non dolor vestibulum consequat. Custom Gallery      Proin vestibulum. Ut ligula. Nullam sed dolor id odio volutpat…
					</p>
				</section>
			</article>
			<div class="clearfix"></div>
		</div>
	</div>
</main>